.wrapper{
	width:810px;
	margin:0 auto;
}
.slider{
	width:100%;
	float:left;
	border: 2px solid #e4ba11;

}
/*information begin*/
.information{
	padding-top:5px;
	width:100%;
	float:left;
}
.information button {
	width:50%;
	float:left;
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    color: #5E6977;
    background-color: #fff;
    cursor: pointer;
    transition: all .5s;
}
.information .effect:hover,
.information .effect:active,
.information .effect:focus {
  border: 2px solid #86939E;
  outline: none;
}
.information .marketPrice{
	text-decoration:line-through;
}
.information .callToAction{
	width:100%;
	background:#ffe26d;
}
/*information end*/
/*description start*/
.description{
	line-height: 30px;
}
.description img{
	float:left;
	padding:15px;
}
/*description end*/